body {
	background-color: black;
	color: #d3d3d3;
}

.app-header{
	color: #9999ff;
}

button {
	box-shadow: 1px 1px 1px 1px rgba(150,50, 50, 0.5);
}

button:hover{
	box-shadow: 1px 1px 1px 1px rgba(200, 75,75, .5);
}

button:focus{
	outline: 0;
}

.main-layout{
	background-color: #212121;
	padding: 5%;
}

.ui-panel{
	margin-right: 10px;
	border-radius: 3%;
	margin-bottom: 5px;
	border: 1px solid #989898;
	padding: 1%;
}

.main-panel{
  
  
}

.ui-panel button{
	margin: 0 auto;
	width: 75px;
	display: inline-block;
	padding: 1%;
	background-color: #767698;
}

.rotary-knob> *{
  margin: 0 auto;
}

.osc-panel{
	display: inline-block;
	align-self: flex-start;
	max-height: 250px;
	padding-right: 5px;
	padding-left: 5px;
}

.osc-dec-inc{
	display: inline-block;
	width: 52px
}

.osc-dec-inc button{
   width: 50px;
   height: 20px;
   padding: 1px;
   background-color: #989898;
   border: 1px solid black;
}

i {
	border:solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 2px;
}

.arrow-up{
	transform: rotate(-135deg);
	-webkit-transfrom: rotate(-135deg);
}

.arrow-down{
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.osc-num{
  margin-top: 2px;
  width: 45px;
  padding: 5px;
  color: #9999ff;
  font-size: 18pt;
  background-color: black;
  border-radius: 3px;
  border: 1px solid #414141;
  text-align: center;
  vertical-align: middle;
  float: right;
  text-shadow: 2px 2px 10px rgba(225, 225, 255, .9);
}

.osc-panel h5{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

/* LFO UI  */
.selector{	
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
}

.selector select{
	width: 100%;
	background: black;
	color: #9999ff;
}

.lfo-knobs{
	display: flex;
	flex-flow: row;
}

.lfo-knobs > * {
	margin: 0 auto;
}

.lfo-knobs h6{
	max-width: 45px;
}



